In [91]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [92]:
books = pd.read_csv("./Datasets/Books.csv")
users = pd.read_csv("./Datasets/Users.csv")
ratings = pd.read_csv("./Datasets/Ratings.csv")

In [93]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [94]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [95]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [96]:
ratings['Book-Rating'].max()

10

In [97]:
print(f"""Books dimensions: {books.shape}
Users dimensions: {users.shape}
Ratings dimensions: {ratings.shape}
""")

Books dimensions: (271360, 8)
Users dimensions: (278858, 3)
Ratings dimensions: (1149780, 3)

### Check for null values

In [98]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [99]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [100]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

### Check for duplicates

In [101]:
books.duplicated().sum()

0

In [102]:
users.duplicated().sum()

0

In [103]:
ratings.duplicated().sum()

0

## Basic EDA

In [104]:
# from ydata_profiling import ProfileReport

In [105]:
# books_profile = ProfileReport(books)
# users_profile = ProfileReport(users)
# ratings_profile = ProfileReport(ratings)

# books_profile.to_file("books_profile_report.html")
# users_profile.to_file("users_profile_report.html")
# ratings_profile.to_file("ratings_profile_report.html")

# Recommender System

### Popularity Based

In [106]:
# Merge the ratings and books datasets on the basis of column "ISBN"

In [107]:
rating_books = ratings.merge(books, on="ISBN")

In [108]:
rating_books

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [109]:
# for making popularity based recomendations, we'll select the books that have atleast 250 votes and then rank them on the basis of their average rating

In [110]:
rating_books_grouped = rating_books.groupby('Book-Title').count()["Book-Rating"].reset_index()

# we are grouping on Book-Title but not on ISBN because for even same Book-Title, there are multiple ISBN numbers...Below is the code for one such book
# rating_books[rating_books['Book-Title'].str.startswith('Harry Potter and the Order of the Phoenix')]

In [111]:
rating_books_grouped
# Here the column Book-Rating is the number of rating on that particular book

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [112]:
# Let's change the name of the column to numRatings
rating_books_grouped = rating_books_grouped.rename(columns={'Book-Rating': 'numRatings'})

In [113]:
rating_books_grouped_gt250 = rating_books_grouped[rating_books_grouped["numRatings"]>=250]
rating_books_grouped_gt250

                                               Book-Title  numRatings
764                                                  1984         284
818                                   1st to Die: A Novel         509
1048                                           2nd Chance         356
1760                                   A Bend in the Road         346
2281    A Child Called \It\": One Child's Courage to S...         265
...                                                   ...         ...
233850                           White Oleander : A Novel         387
233851       White Oleander : A Novel (Oprah's Book Club)         356
234740  Wicked: The Life and Times of the Wicked Witch...         326
234951                                        Wild Animus        2502
240860                                \O\" Is for Outlaw"         269

[186 rows x 2 columns]

In [114]:
# Now merge the df rating_books_grouped_gt250 with the df rating_books to get final df

In [115]:
rating_books_grouped_final = rating_books.merge(rating_books_grouped_gt250, on="Book-Title")

In [116]:
rating_books_grouped_final

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,numRatings
0,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,650
1,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,650
2,638,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,650
3,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,650
4,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,650
...,...,...,...,...,...,...,...,...,...,...,...
74668,215986,0312022824,0,Silence of the Lambs,Thomas Harris,1999,St. Martin's Press,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,256
74669,238541,0312022824,0,Silence of the Lambs,Thomas Harris,1999,St. Martin's Press,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,256
74670,253580,0312022824,8,Silence of the Lambs,Thomas Harris,1999,St. Martin's Press,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,256
74671,268330,0312022824,0,Silence of the Lambs,Thomas Harris,1999,St. Martin's Press,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,http://images.amazon.com/images/P/0312022824.0...,256
74672,125798,0749324082,10,Silence of the Lambs,Thomas Harris,1997,Mandarin,http://images.amazon.com/images/P/0749324082.0...,http://images.amazon.com/images/P/0749324082.0...,http://images.amazon.com/images/P/0749324082.0...,256

In [117]:
# Grouping the final df on the basis of Book-Title to get the average of the Book-Rating

avg_ratings = rating_books_grouped_final.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_ratings

                                            Book-Title  Book-Rating
0                                                 1984     4.454225
1                                  1st to Die: A Novel     3.575639
2                                           2nd Chance     3.269663
3                                   A Bend in the Road     3.364162
4    A Child Called \It\": One Child's Courage to S...     4.086792
..                                                 ...          ...
181                           White Oleander : A Novel     3.506460
182       White Oleander : A Novel (Oprah's Book Club)     3.772472
183  Wicked: The Life and Times of the Wicked Witch...     3.766871
184                                        Wild Animus     1.019584
185                                \O\" Is for Outlaw"     2.988848

[186 rows x 2 columns]

In [118]:
#merge avg_ratings with rating_books_grouped_gt250 to get the numRatings column

In [119]:
avg_ratings = avg_ratings.merge(rating_books_grouped_gt250, on="Book-Title")

In [120]:
avg_ratings = avg_ratings.rename(columns={'Book-Rating': 'Avg Rating'})
print("Max Rating : ",avg_ratings['Avg Rating'].max())
print("Min Rating : ",avg_ratings['Avg Rating'].min())

Max Rating :  5.852803738317757
Min Rating :  1.0195843325339728

In [121]:
avg_ratings[avg_ratings['Avg Rating']==avg_ratings['Avg Rating'].max()]

                                           Book-Title  Avg Rating  numRatings
55  Harry Potter and the Prisoner of Azkaban (Book 3)    5.852804         428

In [122]:
#Sorting the Book Rating in descending order

In [123]:
avg_ratings_sorted = avg_ratings.sort_values(by='Avg Rating', ascending=False)

In [124]:
avg_ratings_sorted

                                            Book-Title  Avg Rating  numRatings
55   Harry Potter and the Prisoner of Azkaban (Book 3)    5.852804         428
53        Harry Potter and the Goblet of Fire (Book 4)    5.824289         387
56      Harry Potter and the Sorcerer's Stone (Book 1)    5.737410         278
54   Harry Potter and the Order of the Phoenix (Boo...    5.501441         347
52    Harry Potter and the Chamber of Secrets (Book 2)    5.183453         556
..                                                 ...         ...         ...
173       Vinegar Hill (Oprah's Book Club (Paperback))    2.245283         265
180                                           Whispers    2.199301         286
88                                   Presumed Innocent    2.139456         294
66                                        Isle of Dogs    2.000000         288
184                                        Wild Animus    1.019584        2502

[186 rows x 3 columns]

In [125]:
# Now to get 30 best books

In [126]:
top30Books = avg_ratings_sorted.head(30)

In [127]:
top30Books.to_csv("Top 30 Books.csv")

In [128]:
# Now merging the final df with books df to get all the relevant details about the top30Books

In [129]:
top30Books = top30Books.merge(books, on="Book-Title")

In [130]:
top30Books.head(5)

,Book-Title,Avg Rating,numRatings,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
1,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,0439136369,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
2,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,0786222743,J. K. Rowling,2000,Thorndike Press,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...
3,Harry Potter and the Goblet of Fire (Book 4),5.824289,387,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
4,Harry Potter and the Goblet of Fire (Book 4),5.824289,387,0439139600,J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...

In [131]:
# This above df contains 130 rows because few books have multiple ISBN

In [132]:
#To fix this
top30Books.drop_duplicates('Book-Title', inplace=True)

In [133]:
top30Books.head(5)

,Book-Title,Avg Rating,numRatings,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),5.824289,387,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278,0590353403,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347,043935806X,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556,0439064872,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...

In [134]:
top30Books.reset_index(inplace=True)

In [135]:
top30Books

,index,Book-Title,Avg Rating,numRatings,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
1,3,Harry Potter and the Goblet of Fire (Book 4),5.824289,387,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
2,5,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278,0590353403,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
3,9,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347,043935806X,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
4,13,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556,0439064872,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...
5,16,The Hobbit : The Enchanting Prelude to The Lor...,5.007117,281,0345339681,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...
6,17,The Fellowship of the Ring (The Lord of the Ri...,4.948370,368,0345339703,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339703.0...,http://images.amazon.com/images/P/0345339703.0...,http://images.amazon.com/images/P/0345339703.0...
7,26,Harry Potter and the Sorcerer's Stone (Harry P...,4.895652,575,059035342X,J. K. Rowling,1999,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...
8,28,"The Two Towers (The Lord of the Rings, Part 2)",4.880769,260,0345339711,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339711.0...,http://images.amazon.com/images/P/0345339711.0...,http://images.amazon.com/images/P/0345339711.0...
9,39,To Kill a Mockingbird,4.700000,510,0446310786,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...
10,47,The Da Vinci Code,4.642539,898,0385504209,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...
11,53,The Five People You Meet in Heaven,4.551163,430,0786868716,Mitch Albom,2003,Hyperion,http://images.amazon.com/images/P/0786868716.0...,http://images.amazon.com/images/P/0786868716.0...,http://images.amazon.com/images/P/0786868716.0...
12,55,The Catcher in the Rye,4.545657,449,0316769487,J.D. Salinger,1991,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...,http://images.amazon.com/images/P/0316769487.0...,http://images.amazon.com/images/P/0316769487.0...
13,62,The Lovely Bones: A Novel,4.468726,1295,0316666343,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...
14,63,1984,4.454225,284,0451524934,George Orwell,1990,Signet Book,http://images.amazon.com/images/P/0451524934.0...,http://images.amazon.com/images/P/0451524934.0...,http://images.amazon.com/images/P/0451524934.0...
15,72,Prodigal Summer: A Novel,4.450593,253,0060959037,Barbara Kingsolver,2001,Perennial,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...
16,73,Neverwhere,4.449057,265,0380789019,Neil Gaiman,1998,Avon,http://images.amazon.com/images/P/0380789019.0...,http://images.amazon.com/images/P/0380789019.0...,http://images.amazon.com/images/P/0380789019.0...
17,78,The Secret Life of Bees,4.447028,774,0142001740,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...
18,84,Stupid White Men ...and Other Sorry Excuses fo...,4.356890,283,0060392452,Michael Moore,2002,Regan Books,http://images.amazon.com/images/P/0060392452.0...,http://images.amazon.com/images/P/0060392452.0...,http://images.amazon.com/images/P/0060392452.0...
19,85,"Tuesdays with Morrie: An Old Man, a Young Man,...",4.354970,493,0385484518,MITCH ALBOM,1997,Doubleday,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...
20,88,The Red Tent (Bestselling Backlist),4.334716,723,0312195516,Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...
21,89,The Hitchhiker's Guide to the Galaxy,4.328358,268,0671461494,Douglas Adams,1982,Pocket,http://images.amazon.com/images/P/0671461494.0...,http://images.amazon.com/images/P/0671461494.0...,http://images.amazon.com/images/P/0671461494.0...
22,98,Nickel and Dimed: On (Not) Getting By in America,4.289552,335,0805063897,Barbara Ehrenreich,2002,Owl Books,http://images.amazon.com/images/P/0805063897.0...,http://images.amazon.com/images/P/0805063897.0...,http://images.amazon.com/images/P/0805063897.0...
23,100,Into the Wild,4.273810,252,0385486804,Jon Krakauer,1997,Anchor,http://images.amazon.com/images/P/0385486804.0...,http://images.amazon.com/images/P/0385486804.0...,http://images.amazon.com/images/P/0385486804.0...
24,103,Fahrenheit 451,4.264059,409,3257208626,Ray Bradbury,1994,Distribooks Inc,http://images.amazon.com/images/P/3257208626.0...,http://images.amazon.com/images/P/3257208626.0...,http://images.amazon.com/images/P/3257208626.0...
25,116,Girl with a Pearl Earring,4.218631,526,0452282152,Tracy Chevalier,2001,Plume Books,http://images.amazon.com/images/P/0452282152.0...,http://images.amazon.com/images/P/0452282152.0...,http://images.amazon.com/images/P/0452282152.0...
26,117,Outlander,4.173145,283,0440222915,DIANA GABALDON,1996,Dell,http://images.amazon.com/images/P/0440222915.0...,http://images.amazon.com/images/P/0440222915.0...,http://images.amazon.com/images/P/0440222915.0...
27,123,Where the Heart Is (Oprah's Book Club (Paperba...,4.105983,585,0446672211,Billie Letts,1998,Warner Books,http://images.amazon.com/images/P/0446672211.0...,http://images.amazon.com/images/P/0446672211.0...,http://images.amazon.com/images/P/0446672211.0...
28,124,Seabiscuit: An American Legend,4.098182,275,0449005615,LAURA HILLENBRAND,2002,Ballantine Books,http://images.amazon.com/images/P/0449005615.0...,http://images.amazon.com/images/P/0449005615.0...,http://images.amazon.com/images/P/0449005615.0...
29,126,Life of Pi,4.088855,664,0151008116,Yann Martel,2002,Harcourt,http://images.amazon.com/images/P/0151008116.0...,http://images.amazon.com/images/P/0151008116.0...,http://images.amazon.com/images/P/0151008116.0...

In [136]:
top30Books.shape

(30, 11)

## Recommender System (Collaborative Filtering Based)

In [137]:
books.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...

In [138]:
users.head(1)

   User-ID            Location  Age
0        1  nyc, new york, usa  NaN

In [139]:
ratings.head(1)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0

In [140]:
rating_books.head(1)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [141]:
x = rating_books.groupby('User-ID').count()['Book-Rating']>=200

In [142]:
x

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [143]:
x[x]

User-ID
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: Book-Rating, Length: 816, dtype: bool

In [144]:
usersWithGt200Ratings = x[x].index

In [145]:
usersWithGt200Ratings

Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,   6323,
         6543,
       ...
       271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=816)

In [146]:
filtered_rating = rating_books[rating_books['User-ID'].isin(usersWithGt200Ratings)]

In [147]:
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [148]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50

In [149]:
famous_books = y[y].index

In [150]:
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=707)

In [151]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [152]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [168]:
final_ratings_grouped1 = final_ratings.groupby('Book-Title').count()['User-ID'].reset_index()
final_ratings_grouped1 = final_ratings_grouped1.rename(columns={'User-ID': 'NumRatings'})
final_ratings_grouped1

                                            Book-Title  NumRatings
0                                                 1984          71
1                                  1st to Die: A Novel         160
2                                           2nd Chance         123
3                                            4 Blondes          70
4                                   A Bend in the Road         114
..                                                 ...         ...
702                                    Year of Wonders          57
703                                   You Belong To Me          55
704  Zen and the Art of Motorcycle Maintenance: An ...          62
705                                               Zoya          59
706                                \O\" Is for Outlaw"         102

[707 rows x 2 columns]

In [176]:
final_ratings_grouped2 = final_ratings.groupby('Book-Title')['Book-Rating'].mean().reset_index()
final_ratings_grouped2 = final_ratings_grouped2.rename(columns={'Book-Rating': 'Relative Rating'})
final_ratings_grouped2

                                            Book-Title  Relative Rating
0                                                 1984         3.295775
1                                  1st to Die: A Novel         2.375000
2                                           2nd Chance         2.455285
3                                            4 Blondes         0.985714
4                                   A Bend in the Road         1.622807
..                                                 ...              ...
702                                    Year of Wonders         3.070175
703                                   You Belong To Me         1.545455
704  Zen and the Art of Motorcycle Maintenance: An ...         1.919355
705                                               Zoya         1.237288
706                                \O\" Is for Outlaw"         2.000000

[707 rows x 2 columns]

In [178]:
final_ratings_grouped = final_ratings_grouped2.merge(final_ratings_grouped1, on="Book-Title")
final_ratings_grouped

,Book-Title,Relative Rating,NumRatings
0,1984,3.295775,71
1,1st to Die: A Novel,2.375000,160
2,2nd Chance,2.455285,123
3,4 Blondes,0.985714,70
4,A Bend in the Road,1.622807,114
...,...,...,...
702,Year of Wonders,3.070175,57
703,You Belong To Me,1.545455,55
704,Zen and the Art of Motorcycle Maintenance: An ...,1.919355,62
705,Zoya,1.237288,59
706,"\O\"" Is for Outlaw""",2.000000,102

In [187]:
final_ratings.drop_duplicates(['Book-Title'], inplace=True)

In [188]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
184,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
368,277427,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...
616,8681,0553561618,0,Dark Paradise,TAMI HOAG,1994,Bantam,http://images.amazon.com/images/P/0553561618.0...,http://images.amazon.com/images/P/0553561618.0...,http://images.amazon.com/images/P/0553561618.0...
750,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...
...,...,...,...,...,...,...,...,...,...,...
457242,11676,0345413865,0,Billy Straight : A Novel,JONATHAN KELLERMAN,1999,Ballantine Books,http://images.amazon.com/images/P/0345413865.0...,http://images.amazon.com/images/P/0345413865.0...,http://images.amazon.com/images/P/0345413865.0...
458903,11676,0373483694,0,Macgregor Grooms (Macgregors),Nora Roberts,1998,Silhouette,http://images.amazon.com/images/P/0373483694.0...,http://images.amazon.com/images/P/0373483694.0...,http://images.amazon.com/images/P/0373483694.0...
465107,11676,0399144714,9,Vector,Robin Cook,1999,Putnam Pub Group,http://images.amazon.com/images/P/0399144714.0...,http://images.amazon.com/images/P/0399144714.0...,http://images.amazon.com/images/P/0399144714.0...
479476,11676,0553278029,8,A Great Deliverance,Elizabeth George,1989,Bantam Books,http://images.amazon.com/images/P/0553278029.0...,http://images.amazon.com/images/P/0553278029.0...,http://images.amazon.com/images/P/0553278029.0...
489034,11676,0743418131,0,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...

In [193]:
final_ratings_grouped_final = final_ratings_grouped.merge(final_ratings, on="Book-Title")
final_ratings_grouped_final = final_ratings_grouped_final[['Book-Title', 'Relative Rating', 'NumRatings', 'Book-Author', 'Year-Of-Publication', 'Image-URL-M']]
final_ratings_grouped_final

,Book-Title,Relative Rating,NumRatings,Book-Author,Year-Of-Publication,Image-URL-M
0,1984,3.295775,71,George Orwell,1990,http://images.amazon.com/images/P/0451524934.0...
1,1st to Die: A Novel,2.375000,160,James Patterson,2002,http://images.amazon.com/images/P/0446610038.0...
2,2nd Chance,2.455285,123,James Patterson,2003,http://images.amazon.com/images/P/0446612790.0...
3,4 Blondes,0.985714,70,Candace Bushnell,2002,http://images.amazon.com/images/P/0451203895.0...
4,A Bend in the Road,1.622807,114,Nicholas Sparks,2001,http://images.amazon.com/images/P/0446527785.0...
...,...,...,...,...,...,...
702,Year of Wonders,3.070175,57,Geraldine Brooks,2002,http://images.amazon.com/images/P/0142001430.0...
703,You Belong To Me,1.545455,55,Mary Higgins Clark,1999,http://images.amazon.com/images/P/0671004549.0...
704,Zen and the Art of Motorcycle Maintenance: An ...,1.919355,62,ROBERT PIRSIG,1984,http://images.amazon.com/images/P/0553277472.0...
705,Zoya,1.237288,59,Danielle Steel,1989,http://images.amazon.com/images/P/0440203856.0...
706,"\O\"" Is for Outlaw""",2.000000,102,SUE GRAFTON,2001,http://images.amazon.com/images/P/0449003787.0...

In [153]:
pivot_table = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [154]:
pivot_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [155]:
pivot_table.fillna(0, inplace=True)

In [156]:
pivot_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [157]:
from sklearn.metrics.pairwise import cosine_similarity

In [158]:
score = cosine_similarity(pivot_table)

In [159]:
score.shape

(707, 707)

In [226]:
def recommend_books(book_name):
    index = np.where(pivot_table.index==book_name)[0][0]
    distances = sorted(list(enumerate(score[index])), key = lambda x:x[1], reverse = True)
    top5similar = distances[1:6]
    names = [[]]
    for i in top5similar:
        currBookName = pivot_table.index[i[0]]
        imgURL = final_ratings_grouped_final[final_ratings_grouped_final['Book-Title'] == currBookName]['Image-URL-M'].values[0]
        author = final_ratings_grouped_final[final_ratings_grouped_final['Book-Title'] == currBookName]['Book-Author'].values[0]
        rating = final_ratings_grouped_final[final_ratings_grouped_final['Book-Title'] == currBookName]['Relative Rating'].values[0]
        numRatings = final_ratings_grouped_final[final_ratings_grouped_final['Book-Title'] == currBookName]['NumRatings'].values[0]
        yearOfPublication = final_ratings_grouped_final[final_ratings_grouped_final['Book-Title'] == currBookName]['Year-Of-Publication'].values[0]
        
        curr_book = [currBookName, imgURL, author, rating, numRatings, yearOfPublication]
        names.append(curr_book)
    return names

In [230]:
recommend_books('Animal Farm')

[[],
 ['1984',
  'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg',
  'George Orwell',
  3.295774647887324,
  71,
  1990],
 ['Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
  'http://images.amazon.com/images/P/0064472272.01.MZZZZZZZ.jpg',
  'Louise Rennison',
  2.75,
  52,
  2001],
 ['Midnight',
  'http://images.amazon.com/images/P/0425118703.01.MZZZZZZZ.jpg',
  'Dean R. Koontz',
  1.6833333333333333,
  60,
  1995],
 ['Second Nature',
  'http://images.amazon.com/images/P/0399139087.01.MZZZZZZZ.jpg',
  'Alice Hoffman',
  1.4,
  50,
  1994],
 ['Call of the Wild',
  'http://images.amazon.com/images/P/1559029838.01.MZZZZZZZ.jpg',
  'Jack London',
  1.127906976744186,
  86,
  0]]

In [162]:
import pickle as pk

In [163]:
pk.dump(top30Books, open('top30Books.pkl', 'wb'))

In [194]:
pk.dump(final_ratings_grouped_final, open('allBestBooks.pkl', 'wb'))

In [195]:
pk.dump(pivot_table, open('pivot_table.pkl', 'wb'))
pk.dump(score, open('score.pkl', 'wb'))